<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
	<h1> Multiplayer </h1>
	
	<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="sock_num"></div>
	<div class="message_holder"></div>


	<form action="" method="post">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
	</form>
  <div>
    <button onclick = "timeSwitch()"> Timer button </button>
    <p class = time1 style = text-align:center>
    a
    </p>
    <p class = time2 style = text-align:center>
    b
    </p>
  </div>
  
  <script type = "text/javascript"> 

   </script>
	<script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      function timeSwitch() {
        socket.emit('timer')
      }
      socket.on( 'connect', function() {

        
        socket.emit( 'connected')
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          e.stopImmediatePropagation();

          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          //console.log('here')
		
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div>'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
      socket.on( 'sock number', function( msg ) {
        console.log( msg )
        //var obj = JSON.parse(msg)
        //console.log(obj)
        
          
        $( 'div.sock_num' ).text( msg )
        
      })
      socket.on( 'update time', function( msg ) {
        
        //console.log(typeof msg)
        var obj = JSON.parse(msg)
        console.log(obj.user)
        if(typeof obj.user !== 'undefined') {
          console.log('we made it')
          if (obj.user == 1) {
            $( 'p.time1').text(obj.time)
          } else if (obj.user == 2) {
            $( 'p.time2').text(obj.time)
          }
          
        }
        
      })
    </script>

	<a href="{{ url_for('chess') }}">FlaskApp</a>

    <div class="content">
        {% block content %} {% endblock %} 
    </div> 
  
    <!--<iframe src="content.html" height="200" width="300" title="Iframe Example"></iframe> -->
</body>
</html>