<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Multiplayer </title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <!-- <link rel = "stylesheet" type="text/css" href="./style.css"> -->
  <link rel="shortcut icon" href="#">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  <script src="{{url_for('static', filename='styles/main.js')}}"></script>

</head>
<body>
	
  <h1 class = "john"> Multiplayers </h1>
	
	<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="sock_num"></div>
	<div class="message_holder"></div>


	<form action="" method="post">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
	</form>
  <div>
    <button onclick = "timeSwitch()"> Timer button </button>
    
  </div>
  
  <div class="card bg-dark" style = "width:300px">
    <div class="card-body text-center">
      <p class = time1 style = text-align:center> a</p>
    </div>
  </div>
  <br><br>
  <div class = "card bg-light" style="width:300px">
    <div class="card-body text-center">
      <p class = time2 style = "text-align:center; color:light"> b</p>
    </div>
    
  </div>
  <a href="{{ url_for('chess') }}">FlaskApp</a>

    <div class="content">
        {% block content %} {% endblock %} 
    </div> 

  
  <table>
       <tr>
                <td class="light"></td>
                <td class="dark" id = "01" onclick = "moveImage(this)"><img src="static/styles/img/pawn.png" class = "pawn" ></td>
                <td class="light" id = "02" onclick = "moveImage(this)"> <img src="" class = ""  ></td>
                <td><p class="dark" id="1"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="2"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="3"></p></td>
            </tr>
            <tr>
                <td><p class="dark" id="4"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="5"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="6"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="7"></p></td>
                <td class="light"></td>
            </tr>
            <tr>
                <td class="light"></td>
                <td><p class="dark" id="8"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="9"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="10"></p></td>
                <td class="light"></td>
                <td><p class="dark" id="11"></p></td>
            </tr>
            <tr>
                <td></td>
                <td class="light"></td>
                <td></td>
                <td class="light"></td>
                <td></td>
                <td class="light"></td>
                <td></td>
                <td class="light"></td>
            </tr>
            <tr>
                <td class="light"></td>
                <td></td>
                <td class="light"></td>
                <td></td>
                <td class="light"></td>
                <td></td>
                <td class="light"></td>
                <td></td>
            </tr>
            <tr>
                <td><span class="black-piece" id="12"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="13"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="14"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="15"></span></td>
                <td class="light"></td>
            </tr>
            <tr>
                <td class="light"></td>
                <td><span class="black-piece" id="16"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="17"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="18"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="19"></span></td>
            </tr>
            <tr>
                <td><span class="black-piece" id="20"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="21"></span></td>
                <td class="light">
                <td><span class="black-piece" id="22"></span></td>
                <td class="light"></td>
                <td><span class="black-piece" id="23"></span></td>
                <td class="light"></td>
            </tr>
  </table>

  <script type="text/javascript">
      var prevImage = null
      var selectedId = ""
      var selectedClass = ""
      var oldID = ""
      function moveImage(td) {
          var myTd = document.getElementById(td.id);
          var myimg = myTd.getElementsByTagName('img')[0];
          if (selectedId == "") {
            if (myimg.className == "") {
              return
            }
            selectedId = myimg.src
            oldID = td.id
            selectedClass = myimg.className
            prevImage = myimg
          } else {
            if (td.id == oldID) {
              return
            }
            myimg.src = selectedId
            myimg.className = selectedClass
            movePiece(oldID, td.id)
            selectedId = ""
            selectedClass = ""
            prevImage.src = ""
            prevImage.className = ""
          }
      }
  </script>
	<script type="text/javascript">


      var socket = io.connect('http://' + document.domain + ':' + location.port);
      function timeSwitch() {
        socket.emit('timer')
      }
      socket.on( 'connect', function() {

        
        socket.emit( 'connected')
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          e.stopImmediatePropagation();

          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          
		
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div>'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
      socket.on( 'sock number', function( msg ) {
        console.log( msg )
          
        $( 'div.sock_num' ).text( msg )
        
      })
      socket.on( 'update time', function( msg ) {
        
        
        var obj = JSON.parse(msg)
        console.log(obj.user)
        if(typeof obj.user !== 'undefined') {

          var date = new Date(null);
          date.setSeconds(obj.time); // specify value for SECONDS here
          var result = date.toISOString().substr(11, 8);
          var date2 = new Date(null)
          date2.setSeconds(obj.other);
          var resultO = date2.toISOString().substr(11, 8);
          if (obj.user == 1) {
            $( 'p.time1').text(result)
            $( 'p.time2').text(resultO)
          } else if (obj.user == 2) {
            $( 'p.time2').text(result)
            $( 'p.time1').text(resultO)
          }
          
        }
        
      })
    </script>

	
  
    <!--<iframe src="content.html" height="200" width="300" title="Iframe Example"></iframe> -->
</body>
</html>